<h1>Coin Lookup</h1>
</br>
<%= form_tag home_lookup_path :method => 'POST' do %>
    <%= text_field_tag 'sym', nil, placeholder: 'Enter Crypto Symbol', size: 50 %>
    <%= submit_tag 'Lookup Stock Quote', class: "btn btn-primary" %>
<% end %>
</br>
<%= @symbol %>

<!--If input is entered-->
<% if @symbol %>
    <% for x in @lookup %>
        <% if @symbol == x["symbol"] %>
            <%= x["name"] %>: $<%= x["price_usd"] %><br/>
            Rank: <%= x["rank"] %><br/><br/>
        <% end %>
    <% end %>
<% end %>