<p id="notice"><%= notice %></p>

<h1>Listing Cryptos</h1>

<table>
  <thead>
    <tr>
      <th>Symbol</th>
      <th>User</th>
      <th>Cost per</th>
      <th>Amount owned</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cryptos.each do |crypto| %>
      <tr>
        <td><%= crypto.symbol %></td>
        <td><%= crypto.user_id %></td>
        <td><%= crypto.cost_per %></td>
        <td><%= crypto.amount_owned %></td>
        <td><%= link_to 'Show', crypto %></td>
        <td><%= link_to 'Edit', edit_crypto_path(crypto) %></td>
        <td><%= link_to 'Destroy', crypto, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Crypto', new_crypto_path %>
